[submodule "3rd_party/glfw"]
	path = 3rd_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rd_party/stb/stb"]
	path = 3rd_party/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "3rd_party/nativefiledialog/nativefiledialog"]
	path = 3rd_party/nativefiledialog/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
